version: "3"
services:
  app-a:
    build: ./python_fastapi
    ports:
      - "8000:8000"
    volumes:
      - ./python_fastapi:/app
    environment:
      APP_NAME: "app-a"
      MODE: "otel-collector-grpc"
      OTEL_GRPC_ENDPOINT: "otel-collector:4317"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"
  
  app-b:
    build: ./python_fastapi
    ports:
      - "8001:8000"
    environment:
      APP_NAME: "app-b"
      MODE: "otel-collector-http"
      OTEL_HTTP_ENDPOINT: "http://otel-collector:4318/v1/traces"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"
  
  app-c:
    build: ./python_fastapi
    ports:
      - "8002:8000"
    environment:
      APP_NAME: "app-c"
      MODE: "jaeger-grpc"
      JAEGER_GRPC_ENDPOINT: "jaeger-collector:4317"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"

  app-d:
    build: ./python_fastapi
    ports:
      - "8003:8000"
    environment:
      APP_NAME: "app-d"
      MODE: "jaeger-http"
      JAEGER_HTTP_ENDPOINT: "http://jaeger-collector:4318/v1/traces"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"

  jaeger-collector:
    image: jaegertracing/jaeger-collector:1.47.0
    command: 
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
      - "--sampling.initial-sampling-probability=.5"
      - "--sampling.target-samples-per-second=.01"
      - "--collector.otlp.enabled=true"
    environment: 
      - SAMPLING_CONFIG_TYPE=adaptive
    ports:
      - "4317" # accept OpenTelemetry Protocol (OTLP) over gRPC
      - "4318" # accept OpenTelemetry Protocol (OTLP) over HTTP
      - "14250" # accept model.proto
    depends_on:
      - cassandra-schema

  cassandra:
    image: cassandra:4.1.2
    healthcheck:
      test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
      interval: 30s
      timeout: 10s
      retries: 5

  cassandra-schema:
    image: jaegertracing/jaeger-cassandra-schema:1.47.0
    depends_on:
      cassandra:
        condition: service_healthy

  jaeger-query:
    image: jaegertracing/jaeger-query:1.47.0
    command:
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
    ports:
      - "16686:16686"
      - "16687:16687"
    depends_on:
      - cassandra-schema

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.81.0
    command:
      - "--config=/conf/config.yaml"
    volumes:
      - ./etc/otel-collector-config.yaml:/conf/config.yaml
    ports:
      - "4317" # OTLP gRPC receiver
      - "4318" # OTLP http receiver
    depends_on:
      - jaeger-collector